body {
  font-family: Arial, sans-serif;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mynetwork {
  width: 80%;
  height: 700px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.controls-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input,
select,
button {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#algorithmResult {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}
